<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/jobhunting.css">
  </head>
  <body>
    <table class="a">
      <tr><th><h3>F</h3>　　　　　　 </th><th><h3>C</h3>生活力　　　 </th><th><h3>G</h3>　　　　　　 </th></tr>
      <tr><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td></tr>
      <tr><th><h3>B</h3>スケジュール </th><th><h3>T</h3>就職活動　　</th><th><h3>D</h3>コミュ力　　 </th></tr>
      <tr><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td></tr>
      <tr><th><h3>E</h3>　　　　　　 </th><th><h3>A</h3>技術力　　　 </th><th><h3>H</h3>　　　　　　 </th></tr>
      <tr><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td><td>IT企業</br>福岡</br>リモートワーク　　</br>フレックスタイム制</br>webアプリを作ってる</td></tr>
    </table>
    <ul>
      <li> グ：具体的に書く。抽象的な表現では行動が鈍るので、具体的に箇条書きします。</li>
      <li> タ：達成可能なことを書く。高すぎる目標は、途中でくじける原因です。</li>
      <li> イ：意欲がもてることを書く。他人から与えられた目標を書いても、自分が意欲を感じなければ、行動を起こす気が起きないものです。</li>
      <li> テ：定量化する。単に「頑張る」でなく、日数や回数など、なるべく数字に置き換えて。</li>
      <li> キ：期日を決める。これを決めておかないと、いつまでたっても目標は達成できません。</li>
      <li>ニ：日課にする。習慣化し、常に意識して行動できるような方法を考えます。</li>
    </ul>
    <table>
      <tr><td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td             >　　　　　　 </td> <td>　　　　　　   </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <th>　　　　　　 </th> <td>　　　　　　 </td> <td>　　　　　　 </td> <th             >生活力       </th> <td>　　　　　　   </td> <td>　　　　　　 </td> <th>　　　　　　 </th> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td             >　　　　　　 </td> <td>　　　　　　   </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <th>　　　　　　 </th> <th             >生活力       </th> <th>　　　　　　         </th> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <th>スケジュール </th> <td>　　　　　　 </td> <th>スケジュール </th> <th class="root">就職活動     </th> <th>コミュ力　           </th> <td>　　　　　　 </td> <th>コミュ力　   </th> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <th>　　　　　　 </th> <th             >技術力       </th> <th>　　　　　　　       </th> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　              </td> <td>　　　　　　　       </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <th>　　　　　　 </th> <td>　　　　　　 </td> <td>　　　　　　 </td> <th>技術力                    </th> <td>　　　　　　　       </td> <td>　　　　　　 </td> <th>　　　　　　 </th> <td>　　　　　　 </td></tr>
      <tr><td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>トレンドに</br>敏感になる </td> <td>　　　　　　　       </td> <td>　　　　　　 </td> <td>　　　　　　 </td> <td>　　　　　　 </td></tr>
    </table>
  </body>
</html>
